<header class="navbar-header">
  <div class="navbar-container">
    <div class="navbar-brand">
      <img ngSrc="/favicon.png" alt="Logo" class="navbar-logo" height="874" width="1024"/>

      <span class="navbar-title">Система маніпулювання даними</span>
    </div>

    <nav class="navbar-nav">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link">
        Сонячні станції (СЕС)
      </a>
      <a routerLink="/forecast" routerLinkActive="active" class="nav-link">
        Прогнози погоди Open-Meteo
      </a>
    </nav>
  </div>
</header>
