<header class="navbar-header">
    <div class="navbar-container">
        <nav class="navbar-nav">
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link">
                Сонячні станції (СЕС)
            </a>
            <a routerLink="/forecast" routerLinkActive="active" class="nav-link">
                Прогноз генерації
            </a>
            <a routerLink="/comparison" routerLinkActive="active" class="nav-link">
                Порівняння генерації
            </a>
        </nav>
    </div>
</header>

